body {
	font-size: 16px;
	color: black;
	font-family: 'Oxygen', sans-serif;
}

#header-nav {
	background-color:gray;
	border-radius: 0;
	border-color: 2px solid black;
	margin-bottom:0;
}

.navbar{
	background-color:gray;
	color:black;
	border-color: black;
	border-width:2px;
}

.navbar-brand h1{
	font-family: Oxygen, bold;
	color: black;
	font-size: 1.5em;
	margin: 0 15px 0 0;
}

#navbar-toggle {
	border-color:black;
}

#nav-list a {
	color: black;
	text-align: center;
}

#nav-list a:hover{
	background: #e7e7e7;
}

#main-content {
	font-size: 25px;
	padding-top: 35px;
}

.pad {
	background-color: gray;
	align: center;
	width: auto;
	height: auto;
	margin: 20px;
	padding: 20px;
}

#title-menu {
	font-size: 20px;
}


